/*============================================
DESK (XL review in 1366px onwards)
============================================*/
* {
  font-family: "Roboto", sans-serif;
}

ul,
ol {
  list-style: none;
}

a:visited,
a:link,
a:focus,
a:hover,
a:active {
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #01c1f6;
}

/*============================================
HEADER
============================================*/
header {
  padding: 0;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: white;
}

.container-logo-header {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo {
  padding: 0;
  width: auto;
  height: 60px;
}

.style-ul-menu {
  padding: 0;
  margin: 0;
}

.style-ul-menu li {
  display: inline;
}

.style-ul-menu li a {
  font-size: 20px;
  font-weight: 400;
  float: right;
  padding: 20px 0;
  color: white;
}

.style-ul-menu li a:hover {
  color: white;
  font-weight: bold;
  font-size: 23px;
}

/*============================================
BODY
============================================*/

.wraper {
  margin-top: 55px;
  margin-bottom: 85px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 30px 1fr;
}

.grid-description {
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0 30px 0 50px;
}

.grid-description p {
  padding: 0;
  margin: 0;
  font-size: 17px;
  color: white;
}

.grid-line {
  display: flex;
  align-items: center;
}

.grid-line hr {
  width: 2px;
  height: 70%;
  border-style: none;
  background: white;
}

.grid-login {
  margin: 0 50px 0 30px;
}

.magin-img-login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.magin-btns-login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-login {
  font-size: 20px;
  font-weight: bold;
  color: white;
  width: 150px;
  height: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: #84ba40;
  background: #84ba40;
  margin: 15px;
}

.btn-login:focus {
  outline: none;
  box-shadow: 0 0 6px 0 #d0f99a;
  /* box-shadow: inset 0 0 5px 0 #d0f99a; */
}

.btn-practice {
  font-size: 20px;
  font-weight: bold;
  color: white;
  width: 150px;
  height: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  background: transparent;
  margin: 15px;
}

.btn-practice:focus {
  outline: none;
  box-shadow: 0 0 6px 0 white;
}

.btn-practice:hover {
  cursor: pointer;
}

.btn-login:hover {
  cursor: pointer;
}

/*============================================
FOOTER
============================================*/

footer {
  padding: 0;
  border-style: solid;
  border-width: 1px 0 0;
  border-color: white;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}

.style-footer {
  padding: 0;
  margin: 0;
}

.style-footer li {
  display: inline;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: 0 1px;
}

.style-footer li a {
  color: white;
}

/*============================================
MODAL - LOGIN
============================================*/

.grid-modal {
  z-index: -5;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  opacity: 1;
  display: none;
}

.style-modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.style-modal-body {
  width: 30%;
  height: auto;
  text-align: center;
  background: white;
}

.form-modal {
  margin: 13px 40px;
}

.title-modal {
  font-size: 22px;
  color: #707070;
  margin: 0 0 25px 0;
}

.style-group-input {
  display: flex;
  margin: 0 0 17px 0;
}

.style-icon-modal {
  border-style: solid;
  border-width: 1px 0.75px 1px 0;
  border-color: #707070;
  color: #707070;
  padding: 5px;
  margin: 0;
}

.style-input-modal {
  border-style: solid;
  border-width: 1px 0 1px 0.75px;
  border-color: #707070;
  color: #707070;
  width: 100%;
  padding: 5px;
  margin: 0;
  outline: none;
}

.style-input-modal:focus {
  border-style: solid;
  border-width: 1px 0 1px 0.75px;
  border-color: #0096d9;
}

.style-btn-green {
  font-size: 19px;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #84ba40;
  background: #84ba40;
  width: 100%;
  height: 45px;
  margin: 0 0 10px 0;
}

.style-btn-green:focus {
  outline: none;
  box-shadow: 0 0 10px 0 #a1f335;
}

.style-btn-transparent:focus {
  outline: none;
  box-shadow: 0 0 10px 0 #56c2f5;
}

.style-btn-transparent {
  font-size: 19px;
  color: #0096d9;
  border-style: solid;
  border-width: 2px;
  border-color: #0096d9;
  background: transparent;
  width: 100%;
  height: 45px;
  margin: 0 0 10px 0;
}

/*============================================
BODY - PRACTICE
============================================*/

.wraper {
  margin-top: 55px;
  margin-bottom: 85px;
}

.grid-practice {
  display: grid;
  grid-template-columns: 1fr 30px 350px;
  grid-template-rows: 400px;
}

.grid-practice-words {
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0 30px 0 50px;
}

.btn-word-practice {
  color: #707070;
  font-size: 17px;
  font-weight: bold;
  border: none;
  background: white;
  width: auto;
  height: 40px;
  padding: 5px 8px;
  margin: 13px 10px;
}

.btn-word-practice:focus {
  outline: none;
  box-shadow: 0 0 10px 0 white;
}

.grid-practice-btns {
  display: flex;
  align-items: center;
  margin: 0 50px 0 30px;
}

#btn-show-sign-up:focus {
  outline: none;
  box-shadow: 0 0 10px 0 white;
}

/*============================================
  HEADER - PAGE HOME
============================================*/

#btn-menu-logged-in:hover {
  cursor: pointer;
}

.img-header-logged-in {
  width: 60px;
  height: 60px;
  border: 1px solid white;
  object-fit: cover;
}

#logo-logged-in {
  height: 70px;
}

/*============================================
  HORIZONTAL TABLET (LG review in 1024px)
  ============================================*/
@media (max-width: 1119px) and (min-width: 992px) {
  /*============================================
  MODAL - LOGIN
  ============================================*/

  .style-modal-body {
    width: 35%;
    height: auto;
  }

  .form-modal {
    margin: 13px 40px;
  }

  .title-modal {
    font-size: 22px;
    margin: 0 0 25px 0;
  }

  .style-group-input {
    margin: 0 0 17px 0;
  }

  .style-icon-modal {
    padding: 5px;
  }

  .style-input-modal {
    padding: 5px;
  }

  .style-btn-green {
    font-size: 19px;
    height: 45px;
    margin: 0 0 10px 0;
  }

  .style-btn-green:focus {
    outline: none;
    box-shadow: 0 0 10px 0 #a1f335;
  }

  .style-btn-transparent:focus {
    outline: none;
    box-shadow: 0 0 10px 0 #56c2f5;
  }

  .style-btn-transparent {
    font-size: 19px;
    height: 45px;
    margin: 0 0 10px 0;
  }
}

/*============================================
  VERTICAL TABLET (MD review in 768px)
  ============================================*/
@media (max-width: 991px) and (min-width: 768px) {
  .logo {
    height: 55px;
  }

  .style-ul-menu li a:hover {
    font-size: 22px;
  }

  /*============================================
  BODY
  ============================================*/

  .wraper {
    margin-top: 80px;
    margin-bottom: 150px;
  }

  .grid-description {
    margin: 0 25px 0 40px;
  }

  .grid-login {
    margin: 0 40px 0 25px;
  }

  .grid-description p {
    font-size: 15px;
  }

  .grid-login .img-login {
    width: 90%;
  }

  .btn-login {
    font-size: 16px;
    width: 115px;
    height: 45px;
    border-width: 2px;
    margin: 8px;
  }

  .btn-practice {
    font-size: 16px;
    width: 115px;
    height: 45px;
    border-width: 2px;
    margin: 8px;
  }

  /*============================================
  MODAL - LOGIN
  ============================================*/

  .style-modal-body {
    width: 40%;
    height: auto;
  }

  .form-modal {
    margin: 13px 35px;
  }

  .title-modal {
    font-size: 21px;
    margin: 0 0 20px 0;
  }

  .style-group-input {
    margin: 0 0 17px 0;
  }

  .style-icon-modal {
    font-size: 16px;
    padding: 4px;
  }

  .style-input-modal {
    font-size: 16px;
    padding: 4px;
  }

  .style-btn-green {
    font-size: 17px;
    height: 40px;
    margin: 0 0 10px 0;
  }

  .style-btn-green:focus {
    outline: none;
    box-shadow: 0 0 10px 0 #a1f335;
  }

  .style-btn-transparent {
    font-size: 17px;
    height: 40px;
    margin: 0 0 10px 0;
  }

  .style-btn-transparent:focus {
    outline: none;
    box-shadow: 0 0 10px 0 #56c2f5;
  }

  /*============================================
  BODY - PRACTICE
  ============================================*/

  .wraper {
    margin-top: 50px;
    margin-bottom: 80px;
  }

  .grid-practice {
    grid-template-columns: 1fr 30px 200px;
    grid-template-rows: 400px;
  }

  .grid-practice-words {
    margin: 0 20px 0 40px;
  }

  .btn-word-practice {
    font-size: 16px;
    height: 35px;
    padding: 5px 8px;
    margin: 10px 9px;
  }

  .grid-practice-btns {
    margin: 0 40px 0 20px;
  }

  #logo-logged-in {
    height: 60px;
  }
}

/*============================================
  HORIZONTAL MOBILE (SM review in 576px)
  ============================================*/
@media (max-width: 767px) and (min-width: 576px) {
  .logo {
    width: auto;
    height: 43px;
  }

  .style-ul-menu li a {
    font-size: 17.5px;
    font-weight: 400;
    padding: 15px 0;
  }

  .style-ul-menu li a:hover {
    font-size: 19px;
  }

  /*============================================
  BODY
  ============================================*/

  .wraper {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .grid-description {
    margin: 0 0 10px;
  }

  .grid-description p {
    font-size: 18px;
  }

  .grid-line {
    display: none;
  }

  .grid-login {
    margin: 0;
  }

  .grid-login .img-login {
    width: 70%;
  }

  .magin-btns-login {
    display: inline;
    align-items: center;
    justify-content: center;
  }

  .btn-login {
    font-size: 18px;
    width: 100%;
    height: 60px;
    border-width: 2px;
    margin: 10px 0;
  }

  .btn-practice {
    font-size: 18px;
    width: 100%;
    height: 60px;
    border-width: 2px;
    margin: 10px 0;
  }

  /*============================================
  MODAL - LOGIN
  ============================================*/

  .style-modal-content {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .style-modal-body {
    width: 70%;
    height: auto;
  }

  .form-modal {
    margin: 13px 40px;
  }

  .title-modal {
    font-size: 22px;
    margin: 0 0 20px 0;
  }

  .style-group-input {
    margin: 0 0 19px 0;
  }

  .style-icon-modal {
    font-size: 18px;
    padding: 5px;
  }

  .style-input-modal {
    font-size: 18px;
    padding: 5px;
  }

  .style-btn-green {
    font-size: 20px;
    height: 50px;
    margin: 0 0 12px 0;
  }

  .style-btn-green:focus {
    outline: none;
    box-shadow: 0 0 12px 0 #a1f335;
  }

  .style-btn-transparent {
    font-size: 20px;
    height: 50px;
    margin: 0 0 12px 0;
  }

  .style-btn-transparent:focus {
    outline: none;
    box-shadow: 0 0 12px 0 #56c2f5;
  }

  /*============================================
  BODY - PRACTICE
  ============================================*/

  .wraper {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .grid-practice {
    grid-template-columns: 1fr;
    grid-template-rows: 360px;
  }

  .grid-practice-words {
    margin: 0 0 10px;
  }

  .btn-word-practice {
    font-size: 16px;
    height: 35px;
    padding: 5px 8px;
    margin: 10px 9px;
  }

  .grid-practice-btns {
    display: inline;
    margin: 0;
  }

  .grid-practice-btns .style-btn-green {
    height: 60px;
  }

  .grid-practice-btns #btn-sign-up-practice {
    height: 60px;
  }

  /*============================================
  HEADER - PAGE HOME
  ============================================*/

  #name-logged-in {
    display: none;
  }

  #logo-logged-in {
    height: 50px;
  }
}

/*============================================
  VERTICAL MOBILE (review in 320px)
  ============================================*/
@media (max-width: 575px) {
  .logo {
    height: 41px;
  }

  .style-ul-menu li a {
    font-size: 16px;
    font-weight: 400;
    padding: 12px 0;
  }

  .style-ul-menu li a:hover {
    font-size: 18px;
  }

  /*============================================
  BODY
  ============================================*/

  .wraper {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .grid-description {
    margin: 0 0 10px;
  }

  .grid-description p {
    font-size: 16px;
  }

  .grid-line {
    display: none;
  }

  .grid-login {
    margin: 0;
  }

  .grid-login .img-login {
    width: 70%;
  }

  .magin-btns-login {
    display: inline;
    align-items: center;
    justify-content: center;
  }

  .btn-login {
    font-size: 18px;
    width: 100%;
    height: 50px;
    border-width: 2px;
    margin: 8px 0;
  }

  .btn-practice {
    font-size: 18px;
    width: 100%;
    height: 50px;
    border-width: 2px;
    margin: 8px 0;
  }

  /*============================================
  FOOTER
  ============================================*/
  .style-footer li {
    font-size: 14px;
    margin: 0 0.5px;
  }

  /*============================================
  MODAL - LOGIN
  ============================================*/

  .style-modal-content {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .style-modal-body {
    width: 80%;
    height: auto;
  }

  .form-modal {
    margin: 13px 25px;
  }

  .title-modal {
    font-size: 22px;
    margin: 0 0 20px 0;
  }

  .style-group-input {
    margin: 0 0 19px 0;
  }

  .style-icon-modal {
    font-size: 18px;
    padding: 5px;
  }

  .style-input-modal {
    font-size: 18px;
    padding: 5px;
  }

  .style-btn-green {
    font-size: 20px;
    height: 50px;
    margin: 0 0 12px 0;
  }

  .style-btn-green:focus {
    outline: none;
    box-shadow: 0 0 12px 0 #a1f335;
  }

  .style-btn-transparent {
    font-size: 20px;
    height: 50px;
    margin: 0 0 12px 0;
  }

  .style-btn-transparent:focus {
    outline: none;
    box-shadow: 0 0 12px 0 #56c2f5;
  }

  /*============================================
  BODY - PRACTICE
  ============================================*/

  .wraper {
    margin-top: 30px;
    margin-bottom: 32px;
  }

  .grid-practice {
    grid-template-columns: 1fr;
    grid-template-rows: 360px;
  }

  .grid-practice-words {
    margin: 0 0 10px;
  }

  .btn-word-practice {
    font-size: 15.5px;
    height: 33px;
    padding: 2px 7px;
    margin: 9px 5px;
  }

  .grid-practice-btns {
    display: inline;
    margin: 5px 0 0;
  }

  .grid-practice-btns .style-btn-green {
    height: 55px;
  }

  .grid-practice-btns #btn-sign-up-practice {
    height: 55px;
  }

  /*============================================
  HEADER - PAGE HOME
  ============================================*/

  #name-logged-in {
    display: none;
  }

  #logo-logged-in {
    height: 46px;
  }

  .img-header-logged-in {
    width: 45px;
    height: 45px;
  }
}
